@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 291, 86%, 7%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }

  .home-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-purple-300/5 shadow-[0_0_80px_inset] shadow-purple-300/5;
  }
}

@layer utilities {
  .border-border {
    border-color: #d0d0d0; /* Example border color */
  }
  .bg-background {
    background-color: #0b0111;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  /* Masonry Grid CSS */
.masonry-grid {
  column-count: 1; /* Default to 1 column for small screens */
  column-gap: 16px; /* Gap between columns */
}

@media (min-width: 768px) {
  .masonry-grid {
    column-count: 2; /* Two columns for medium screens */
  }
}

@media (min-width: 1024px) {
  .masonry-grid {
    column-count: 3; /* Three columns for large screens */
  }
}



}
